
.global-container {
    font-family: 'Chivo';
    text-align: justify;
    background-color: white;
    background-image: url(../images/fondo4.webp);
    background-repeat: no-repeat;
    background-position: center center;
	background-size: cover;
	margin-left: 20px;
	margin-right: 20px;
}

.row {
	margin-bottom:15px;
}

.header {
    font-family: 'Lobster Two';
    text-align: center;
    align-items: center;
	margin-bottom: 15px;
}

.title {
    align-items: center;
    height: 75%;
}

.live {
    display: inline-block;
    width: 20%;
    vertical-align: center;
}

.live a {
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color: #ee3d26;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 5px;
    padding: 2px 15px 2px 15px;
    border: 6px solid #ee3d26;
}

.image {
    /*Hemos de poner el display en cada una de las cajas que queremos que se modelen*/
    display: inline-block;
    /*Hemos de poner el width en cada una de las cajas que se van a ver afectadas*/
    width: 50%;
    height: 5%;
}

.log {
    display: inline-block;
    /*Alinia la caja con la de al lado*/
    vertical-align: center;
}

.log a {
    font-size: 18px;
    color: white;
    padding: 5px;
    background-color: #63B0B3;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 5px;
    padding: 2px 15px 2px 15px;
    border: 6px solid #63B0B3;
}

.log a:hover {
    background-color: #82b2b4;
    border: 5px solid #82b2b4;
    color: white;
}


.subtitle {
    font-size: xx-large;
    background-color: #CC3636;
    color: white;
    width: 100%;
    text-align: center;
	margin-top: 20px;
}

.main-content {
    display: inline-block;
	width: 100%;
}

.left-bar {
    /*top, right, bottom, left*/
	background-color: #ffffff;
    display: inline-block;
    /*width style color*/
    border: 2px solid #06283D;
    font-size: 25px;
	padding: 5px;
}
.left-bar li {
    /*Quitar los puntos de la lista*/
    list-style: none;
}


.left-bar h1 {
    color: #B73E3E;
    font-size: xx-large;
    margin: 10px 0px 5px 0px;
}

.left-bar em {
    color: #2f6d93;
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    margin-top: 100px;
}


.left-bar a {
    color: #B73E3E;
    font-size: xx-large;
    text-decoration: none;
}

.content-bar {
	padding: 10px;
}

.results {
    margin-top: 50px;
	text-align: center;
}
.results a {
    text-decoration: none;
}

.content2 {
    display: inline-block;
    vertical-align: top;
    text-align: justify;
    font-size: 20px;
    text-decoration: none;
    color: #06283D;
	padding: 0px 20px 0px 20px;
}

.content2 a {
    text-decoration: none;
    color: #06283D;
}

.news1 {
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
	background-color: white;
    border-bottom: #B73E3E solid;
}

.news-row {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    border-bottom: #B73E3E solid;
}

.news-half {
    /*Tienen que ser las clases especificas*/
    display: inline-block;
    /* width: 45%; */
    padding: 20px;
	margin: 10px 0px 10px 0px;
	border: 1px solid #777777;	
	background-color: white;
}

.news-title{
	height: 100px;
}

.new-info-container{
	padding: 0px 30px 0px 30px;
}
.morata_image {
    text-align: center;
}
.content2 h1 {
    color: #06283D;
    font-size: 50px;
}

.content2 strong {
    color: #164e71;
    font-weight: bold;
}

/* .final { */
    /* display: inline; */
/* } */

.result-section {
    width: 80%;
	margin-bottom: 30px;
}
.result-section table, tr {
    width: 100%;
}

.column-date{
	width: 100px;
}
.column-group{
	width: 100px;
}
.column-teams{
	width: 250px;
}
.phase-title{
	letter-spacing: 5px;
	font-family: 'Chivo';
    text-align: left;
    color: #CC3636;
	text-decoration-line: underline;
	text-decoration-color: #CC3636;
	text-decoration-style: dotted; 
}

.date-result{
	font-size: 16px;
    text-decoration: none;
    color: #06283D;
}
.video {
    text-align: center;
    width: 50;
    margin: 5px;
}

.main-formulary {
    padding: 15px 15px 15px 15px;
    background-color: #ffffff;
}

.main-formulary h1 {
    font-size: xx-large;
}

.buttons{

    margin: 20px;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 10px;
    color: aliceblue;
    background-color: #ce4646;
    border: 5px solid #ce4646;
}

.buttons :hover {
    margin: 20px;
    padding: 10px 10px;
    font-size: 15px;
    border-radius: 10px;
    color: #ce4646;
    background-color: aliceblue;
    border: 5px solid aliceblue;
}

.sports{
	margin-top: 40px;
}
.sport-label {
    background-color: #63B0B3;
}


.footer {
    font-size: 15px;
    background-color: #ce4646;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
	margin-top:50px;
}

.switch-field {
    display: flex;
    margin-bottom: 36px;
    overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #e4e4e4;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    line-height: 1;
    text-align: center;
    padding: 8px 16px;
    margin-right: -1px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
    transition: all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}


.switch-field input:checked + label {
	background-color: #63B0B3;
	box-shadow: none;

}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

ul.ks-cboxtags {
    list-style: none;
    padding: 10px;
}
ul.ks-cboxtags li{
  display: inline;
}
ul.ks-cboxtags li label{
    display: inline-block;
    background-color: #63B0B3;
    border: 2px solid rgba(139, 139, 139, .3);
    color: #444444;
    border-radius: 25px;
    white-space: nowrap;
    margin: 3px 0px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    transition: all .2s;
}

ul.ks-cboxtags li label {
    padding: 8px 12px;
    cursor: pointer;
}

ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
    content: "\f00c";
    transform: rotate(-360deg);
    transition: transform .3s ease-in-out;
}

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
    border: 2px solid #1bdbf8;
    background-color: #63B0B3;
    color: #fff;
    transition: all .2s;
}

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute;
}
ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0;
}
ul.ks-cboxtags li input[type="checkbox"]:focus + label {
  border: 2px solid #63B0B3;
}


.form-input label  {
  display:block;
}

.big input {
  width:70%;
}

.global {
    font-family: 'Chivo';
    text-align: center;
    margin: 0;
    padding: 0;
    background-image: url(../images/log-img.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    height: 100vh;
}

.login-box {
    width: 400px;
    height: 600px;
    background-color: white;
    border-radius: 3%;
    color: #ce4646;
    top: 25%;
    left: 40%;
    position: absolute;
    box-sizing: border-box;
    padding: 70px 30px;
}

.logo-log img{
    width: 150px;
    position: absolute;
    top: 20px;
    left: 120px;
}

.login-box h1 {
    text-align: center;
    font-size: 35px;
    margin: 40px 0px ;
}

.login-box label {
    display: block;
    margin: 40px 0px 0px 45px;
    text-align: justify;
    font-size: 30px;
    font-weight: bold;
}
.login-box input[type="email"], .login-box input[type="password"]{
    border: none;
    border-bottom: 2px solid #ce4646;
    background: transparent;
    outline: none;
    height: 40px;
    color: rgb(30, 29, 29);
    font-size: 20px;
}
.login-box a {
    text-decoration: none;
    color: #63B0B3;
    font-size: 20px;
    margin-top: 20px;
    display: block;
}

.welcome a{
    color: white;
    background-color: #63B0B3;
    font-size: 25px;
    border-radius: 50%;
    padding: 5px;
    background-color: #63B0B3;
    border-radius: 10px;
    box-sizing: border-box;
    text-decoration: none;
    margin: 30px 5px 30px 38px;
    padding: 2px 15px 2px 15px;
    border: 6px solid #63B0B3;
    width: 78%;
}

.welcome-image{
	width: 500px;
	height: 300px;
}

.welcome-section{
	text-align: center;
}

@font-face {
    font-family: 'Chivo';
    src: url(../fonts/Chivo-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Lobster Two';
    src: url(../fonts/LobsterTwo-Regular.ttf);
}